%html
  %head
    %title Pringle - Projected Mingle
    %link{:rel => "stylesheet/less", :type => "text/css", :href => "/stylesheets/960.less"}
    %link{:rel => "stylesheet/less", :type => "text/css", :href => "/stylesheets/pringle.less"}

    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery-1.7.0.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery.ui.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery.dataset.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery.ba-bbq.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery.template.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/underscore-1.2.1.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery.colorhelpers.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery.flot.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/less-1.0.40.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery.lang.js"}
    %script{:type => "text/javascript", :src => "/javascript/vendor/jquery.class.js"}

    %script{:type => "text/javascript", :src => "/javascript/underscore.expectation.js"}
    %script{:type => "text/javascript", :src => "/javascript/mingle.js"}
    %script{:type => "text/javascript", :src => "/javascript/pringle.project.js"}
    %script{:type => "text/javascript", :src => "/javascript/index.js"}

  %body
    #content.container_12
      .header.grid_12
        %img.tw_logo{:src => "/images/tw_logo.png"}
        %img.mingle_logo{:src => "/images/mingle_logo.png"}
        %h1.heading
      .body.grid_12
        .curtain
        .content
        // Stuff goes here.
