%html
  %head
    %title Pringle - Projected Mingle
    %link{:rel => "stylesheet", :type => "text/css", :href => "/application.css"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.ui.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.dataset.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.blockUI.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.ba-bbq.js"}
    %script{:type => "text/javascript", :src => "/javascript/inputmultiselect-2.0.3.min.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.template.js"}
    %script{:type => "text/javascript", :src => "/javascript/index.js"}
    
    %script{:id => "cardTemplate", :type => "text/html"}
      .card{:id => "${number}", :"data-type" => "${card_type.name}", :"data-modified" => "${modified_on}"}
        .header
          .number #${number}
        .body
          .name ${name}
          .type ${card_type.name}
        .footer
          .owner ${owner}
          
    %script{:id => "laneTemplate", :type => "text/html"}
      %li.swimlane{:"data-name" => "${value}"}
        .header 
          .name ${value}
        .cards
        
    %script{:id => "legendKeyTemplate", :type => "text/html"}
      %li.legendKey{:"data-name" => "${name}", :"data-color" => "${color}"}
        .color{:style => "background-color: ${color}"}
        .name ${name}

  %body
    #content.storyWall
      .header
        %h1.heading Should Change
        %ul.legend
      %ul.wall.vertical
      
    #footer
      %a{:href => "/", :class => "logo"}
        %img{:src => "/images/tw_logo3.png"}
      #options
        %form#pringleOptions
          %label{:for => "pringleView"} View:
          %select{:id => "pringleView"}
            %option{:value => "vertical"} Vertical Story Wall
            %option{:value => "horizontal"} Horizontal Story Wall
            
          %input{:type => "checkbox", :value => 1, :id => "shouldRefresh", :name => "shouldRefresh", :checked => "checked"}
          %label{:for => "shouldRefresh"} Keep synchronized
          
        %form#cardFilter
          %label{:for => "viewFilter"} Cards:
          %select{:id => "viewFilter", :name => "view"}
            %option{:value => ""} All
          %input{:type => "hidden", :name => "page", :value => "all"}
          %button{:type => "submit", :class => "refresh"} Refresh Story Wall
      #spinner