%html
  %head
    %title Pringle - Projected Mingle
    %link{:rel => "stylesheet", :type => "text/css", :href => "/application.css"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.dataset.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.template.js"}
    %script{:type => "text/javascript", :src => "/javascript/index.js"}
    %script{:id => "cardTemplate", :type => "text/html"}
      .card
        .header
          .number
        .body
          .name
          .type
        .footer
          .owner

  %body
    #status
    #main
      %table#storyWall
        %thead
          %tr
        %tbody
          %tr
    #footer
      #options
        %form#selectFave
          %input{:type => "text", :name => "favorite", :placeholder => "Select favorite"}
          %button{:type => "submit"} Submit
        %button{:type => "submit"} Refresh Story Wall
