%html
  %head
    %title Pringle - Projected Mingle
    %link{:rel => "stylesheet/less", :type => "text/css", :href => "/stylesheets/pringle.less"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.ui.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.dataset.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.blockUI.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.ba-bbq.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.template.js"}
    %script{:type => "text/javascript", :src => "/javascript/underscore.js"}
    %script{:type => "text/javascript", :src => "/javascript/underscore.expectation.js"}
    %script{:type => "text/javascript", :src => "/javascript/backbone.js"}
    %script{:type => "text/javascript", :src => "/javascript/raphael.js"}
    %script{:type => "text/javascript", :src => "/javascript/g.raphael.js"}
    %script{:type => "text/javascript", :src => "/javascript/g.pie.js"}
    %script{:type => "text/javascript", :src => "/javascript/less-1.0.40.js"}
    %script{:type => "text/javascript", :src => "/javascript/pringle.project.js"}
    %script{:type => "text/javascript", :src => "/javascript/index.js"}

  %body
    #content
      .header
        %h1.heading
      .body
        // Stuff goes here.

    #footer
      %a{:href => "/", :class => "logo"}
        %img{:src => "/images/tw_logo3.png"}
      #options{:style => "display: none"}
        %form#pringleOptions
        %form#cardFilter
          %label{:for => "viewFilter"} Cards:
          %select{:id => "viewFilter", :name => "view"}
            %option{:value => ""} All
          %input{:type => "hidden", :name => "page", :value => "all"}
          %button{:type => "submit", :class => "refresh"} Refresh Story Wall
      #spinner
