%html
  %head
    %title Pringle - Projected Mingle
    %link{:rel => "stylesheet", :type => "text/css", :href => "/application.css"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.dataset.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.template.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.blockUI.js"}
    %script{:type => "text/javascript", :src => "/javascript/inputmultiselect-2.0.3.min.js"}
    %script{:type => "text/javascript", :src => "/javascript/index.js"}
    %script{:id => "cardTemplate", :type => "text/html"}
      .card
        .header
          .number
        .body
          .name
          .type
        .footer
          .owner

  %body
    #main
      %table#storyWall
        %thead
          %tr
        %tbody
          %tr
    #footer
      %img{:src => "/images/tw_logo2.png"}
      #options
        %form#cardFilter
          %select{:name => "view"}
            %option{:value => ""} All
          %input{:type => "hidden", :name => "page", :value => "all"}
          %button{:type => "submit", :class => "refresh"} Refresh Story Wall
          
      #spinner