@bgColor: #1e1e1e;
@headingColor: #F15A23;
@cornerRadius: 4px;
@contentHeight: 600px;

body {
  font-family: Helvetica, Arial, sans-serif;
  background: @bgColor;
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
table,
tr,
td,
body {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

#content {
  position: relative;

  > .body {
    overflow: hidden;
    margin: 0 10px 0 10px;
    -webkit-border-radius: @cornerRadius;
    -moz-border-radius: @cornerRadius;
    height: @contentHeight;
    position: relative;

    > .curtain {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: @contentHeight;
      background-color: @bgColor;
      display: none;
      z-index: 1;
    }

    > .content {
      height: @contentHeight;
    }
  }

  > .header {
    margin: 8px 0px 8px 32px;

    .tw_logo {
      vertical-align: 6;
    }

    .mingle_logo {
      vertical-align: -8;
    }

    .heading {
      margin-left: 4px;
      border-left: 2px solid #888;
      padding-left: 10px;

      vertical-align: 8;
      font-weight: normal;
      font-size: 32px;
      display: inline;
    }
  }
}

#content .interestingValue {
  .value {
    display: inline;
    font-size: 300px;
    letter-spacing: -0.08em;
    line-height: 90%;
  }

  .unit {
    display: inline;
    font-size: 30px;
  }

  .heading {
    -webkit-border-radius: @cornerRadius;
    -moz-border-radius: @cornerRadius;

    margin: 0px 20px;
    background-color: @headingColor;
    padding: 10px;
    font-size: 80px;
    text-transform: uppercase;
  }

  .caption {
    margin: 10px 30px;
    font-size: 24px;
    color: #888;
    font-style: italic;
    font-weight: 100;
  }
}

#content .progressIndicator {
  .range {
    background-color: #ffffff;
    width: 50%;
    height: 100px;
    margin: 30% auto 0px auto;
  }
  .progress {
    // width: 37%;
    height: 100%;
    margin-left: 0px;
    background-color: blue;
  }
}

#content .lineChart {
  .chart {
    height: @contentHeight - 140px;
    margin: 0 20px 20px 20px;
  }
  
  .heading {
    -webkit-border-radius: @cornerRadius;
    -moz-border-radius: @cornerRadius;
    margin: 0px 20px;
    background-color: @headingColor;
    padding: 10px;
    font-size: 40px;
    text-transform: uppercase;
  }
}

#content .nav {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 8px;
  display: none;

  a {
    background-color: #1a2746;
    -webkit-border-radius: @cornerRadius;
    -moz-border-radius: @cornerRadius;
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    display: block;
    float: left;
    padding: 12px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
    border: 3px solid #203361;

    &:hover { background-color: #203361; }
    &.paused { background-color: #203361; }
  }
}