body {
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span {
  margin: 0;
  padding: 0;
}

#status {
  display: absolute;
  top: 0px;
  left: 0px;
  padding: 8px;
}

.swimLane {
  border-right: 2px solid white;
  vertical-align: top;
}

.card {
  background-color: #eee;
  // -webkit-border-radius: 8px;
  // -moz-border-radius: 8px;
  border: 2px solid #ddd;
  width: 120px;
  float: left;
  margin: 8px;

    // -webkit-border-radius: 8px;
    // -moz-border-radius: 8px;

  .number {
    background-color: black;
    color: white;
    opacity: 0.8;
    font-size: large;
    padding: 6px;
  }

  .name {
    font-size: x-small;
    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 6px;
  }
}

.card.Feature {
  background-color: #999cff;
}

.card.Story {
  background-color: blue;
}

.card.TestCase {
  background-color: #00cc55;
}

.card.Defect {
  background-color: red;
}

.card.Risk {
  background-color: #a60014;
}
