body {
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
table,
tr,
td,
body {
  margin: 0;
  padding: 0;
}

#storyWall {
  border-collapse: collapse;

  .swimLane {
    padding-top: 10px;
    border-right: 2px solid white;
    vertical-align: top;
    width: 130px;
  }
}

#main {
  overflow-y: scroll;
  height: 94%;
}

#footer {
  color: black;
  font-size: small;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(6%, #e0e0e0), color-stop(33%, #ffffff));
  
  .logo {
    float: left;
    padding: 10px 10px 0px 10px;
    height: 30px;
  }
  
  #options {
    float: left;
    padding-top: 8px;
    margin-left: 10px;
    input, form { display: inline; }
    
    input[type=text] {
      padding: 4px;
    }
    
    select[name=view] {
      width: 200px;
    }
    
    button {
      -webkit-border-radius: 4px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6D8D8), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#BDBEBF));
      :hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ADADAD), color-stop(50%,#D2D7D8), color-stop(51%,#A9AEB2), color-stop(100%,#838384));
      }
    }
  }
  
  #spinner {
    display: none;
    position: absolute;
    bottom: 6px;
    right: 6px;
    background: url('/images/spinner.gif') bottom right no-repeat;
    width: 30px;
    height: 30px;
  }
}

.card {
  -webkit-border-radius: 4px;

  width: 120px;
  float: left;
  margin: 8px;
  height: 100px;

  .header {
    background-color: black;
    color: white;
    opacity: 0.8;
    font-size: small;
    padding: 4px;
    height: 15px;
  }

  .body {
    font-size: x-small;
    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 4px;
    overflow: hidden;
    height: 50px;

    > div {
      padding-top: 2px;
    }

    .name {
      font-size: small;
    }
  }

  .footer {
    color: black;
    text-align: right;
    font-size: xx-small;
    padding: 4px 2px 2px 0px;
    font-weight: bold;
    height: 15px;
  }

  .owner {
    font-weight: bold;
  }

  .type {
    color: #999;
  }
}

.card.blocked {
}
